.isi{
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

h3 {
    margin-left: 10px;
}

b{
    color:black;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    padding-bottom: 5px;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

.car-1 {
    background-image: url(gambar/news.jpg);
}

.car-2 {
    background-image: url(gambar/news2.jpeg);
}

.car-3 {
    background-image: url(gambar/news3.jpg);
}

.car-4 {
    background-image: url(gambar/news4.jpg);
}

.car-5 {
    background-image: url(gambar/news5.jpeg);
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}


.card:hover {
    background-color: rgb(41, 41, 41);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}