/* CSS Bagian Navbar */

/* CSS Bagian Navbar dan Kategori */

/* CSS Bagian News dan Ads */

.container-nws{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    position: relative;
    justify-content: center;
    margin-left: 30px;

}
.container-nws .news{
    width: 600px;
    height: 300px;
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: black;
    border-radius: 15px;
    
}


.container-nws .news img{
    width: 600px;
    height: 300px;
    opacity: 60%;
    border-radius: 15px;
}

.container-nws .news a:hover{
    opacity: 85%;
}
.container-nws .news .judul{
    position: absolute;
    font-size: 26px;
    bottom: 20px;
    top: 189px;
    font-style: bold;
    padding-left: 15px;
    
}

.container-nws .news .judul a{
    color: white;
    text-decoration: none;
    
}
.container-nws .news .judul a:hover{
    color: orange;
    text-decoration: none;
    
}
.container-nws .ads{
    margin-left: 20px;
    margin-right: 40px;
}
.container-nws .ads img{
    width: 450px;
    height: 250px;
    border-radius: 15px;
}
.container-nws .ads a:hover{
    opacity: 85%;
}

@media only screen and (max-width: 600px) {
    .container-nws{
        flex-wrap: wrap-reverse;
        justify-content: baseline;
        margin-left: 0px;
    }
    .container-nws .news{
        width: 400px;
        height: 200px;
        margin-right: 0px;
        
    }
    .container-nws .news img{
        width: 400px;
        height: 200px;
    }
    .container-nws .news .judul{
        font-size: 18px;
        top: 280px;
    }
    .container-nws .ads{
        margin-left: 0;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    .container-nws .ads img{
        width: 400px;
        height: 150px;
    }
 
}

/* CSS Bagian Berita terpopuler */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

h3 {
    margin-left: 10px;
}

b{
    color:black;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 60px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    padding-bottom: 5px;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

.car-1 {
    background-image: url(gambar/news.jpg);
}

.car-2 {
    background-image: url(gambar/news2.jpeg);
}

.car-3 {
    background-image: url(gambar/news3.jpg);
}

.car-4 {
    background-image: url(gambar/news4.jpg);
}

.car-5 {
    background-image: url(gambar/news5.jpeg);
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}


.card:hover {
    background-color: rgb(41, 41, 41);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}
/* CSS Bagian Berita Terbaru */

/* CSS Bagian Footer */




